{% extends 'base.html' %}
{% load static %}
{% block title %} Signin {% endblock %}
{% block content %}
<h1> Login to your account</h1>
<form action="/signin/" method="post">
    {% csrf_token %}
    <label for="">Username:  </label>
    <input type="text" id="username" name="username" placeholder="Enter your username" required>
    <label for="">Password:</label>
    <input type="password" id="password1" name="password1" placeholder="Enter your password" required><br>
    <div class="button" align="center">
    <button type="submit" >Login</button>
    </div>



</form>
{% endblock %}